:root {
  --white: #EEE;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
button, .btn {
  font-weight: bold !important;
}
a {
  font-weight: bold !important;
  text-decoration: none !important;
}
nav {
  background-color: var(--white);
}
footer {
  background-color: var(--white);
  color: #444;
  padding: 20px 0px 20px 0px;
}
main {
  padding-top: 85px;
}
.borda {
  border: 1px solid red;
}